# 1. BASIC LINE PLOT

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import os

In [1]:
os.getcwd()

'c:\\Users\\tim.virga\\Documents\\Projects\\StockPrediction\\Section11-matplotlib'

In [7]:
# Read the stock prices data using pandas

rawdata = pd.read_csv('stocks.csv')

In [8]:
stockdf = pd.DataFrame(rawdata)
stockdf

,Date,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
0,2012-01-12,60.198570,75.510002,30.120001,12.130000,175.929993,180.550003,28.250000,313.644379,1295.500000
1,2012-01-13,59.972858,74.599998,30.070000,12.350000,178.419998,179.160004,22.790001,311.328064,1289.089966
2,2012-01-17,60.671429,75.239998,30.250000,12.250000,181.660004,180.000000,26.600000,313.116364,1293.670044
3,2012-01-18,61.301430,75.059998,30.330000,12.730000,189.440002,181.070007,26.809999,315.273285,1308.040039
4,2012-01-19,61.107143,75.559998,30.420000,12.800000,194.449997,180.520004,26.760000,318.590851,1314.500000
...,...,...,...,...,...,...,...,...,...,...
2154,2020-08-05,440.250000,174.279999,29.850000,16.719999,3205.030029,125.449997,1485.020020,1473.609985,3327.770020
2155,2020-08-06,455.609985,172.199997,29.840000,18.459999,3225.000000,126.120003,1489.579956,1500.099976,3349.159912
2156,2020-08-07,444.450012,170.020004,30.020000,19.030001,3167.459961,124.959999,1452.709961,1494.489990,3351.280029
2157,2020-08-10,450.910004,179.410004,30.200001,21.650000,3148.159912,127.110001,1418.569946,1496.099976,3360.469971
2158,2020-08-11,437.500000,180.130005,30.200001,21.500000,3080.669922,126.750000,1374.390015,1480.319946,3333.689941

In [5]:
pd.DataFrame(stockdf)

,Date,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
0,2012-01-12,60.198570,75.510002,30.120001,12.130000,175.929993,180.550003,28.250000,313.644379,1295.500000
1,2012-01-13,59.972858,74.599998,30.070000,12.350000,178.419998,179.160004,22.790001,311.328064,1289.089966
2,2012-01-17,60.671429,75.239998,30.250000,12.250000,181.660004,180.000000,26.600000,313.116364,1293.670044
3,2012-01-18,61.301430,75.059998,30.330000,12.730000,189.440002,181.070007,26.809999,315.273285,1308.040039
4,2012-01-19,61.107143,75.559998,30.420000,12.800000,194.449997,180.520004,26.760000,318.590851,1314.500000
...,...,...,...,...,...,...,...,...,...,...
2154,2020-08-05,440.250000,174.279999,29.850000,16.719999,3205.030029,125.449997,1485.020020,1473.609985,3327.770020
2155,2020-08-06,455.609985,172.199997,29.840000,18.459999,3225.000000,126.120003,1489.579956,1500.099976,3349.159912
2156,2020-08-07,444.450012,170.020004,30.020000,19.030001,3167.459961,124.959999,1452.709961,1494.489990,3351.280029
2157,2020-08-10,450.910004,179.410004,30.200001,21.650000,3148.159912,127.110001,1418.569946,1496.099976,3360.469971
2158,2020-08-11,437.500000,180.130005,30.200001,21.500000,3080.669922,126.750000,1374.390015,1480.319946,3333.689941

**MINI CHALLLENGE #1:**
- **Plot similar kind of graph for the S&P500**
- **Change the line color to red**

# 2. SCATTERPLOT

In [ ]:
# Read daily return data using pandas

**MINI CHALLLENGE #2:**
- **Plot similar kind of graph for GOOG and sp500**

# 3. PIE CHART

**MINI CHALLENGE #3:**
- **Plot the pie chart for the same stocks assuming equal allocation**
- **Explode Amazon and Google slices**

# 4. HISTOGRAMS

In [ ]:
# A histogram represents data using bars of various heights. 
# Each bar groups numbers into specific ranges. 
# Taller bars show that more data falls within that specific range.

**MINI CHALLLENGE #4:**
- **Plot the histogram for GOOG returns using 30 bins**

# 5. MULTIPLE PLOTS

**MINI CHALLLENGE #5:**
- **Plot a similar graph containing prices of AAPL, sp500 and GOOG**
- **Add legend indicating S&P500, AAPL and GOOG**
- **Place the legend in the "upper center" location**

# 6. SUBPLOTS

**MINI CHALLLENGE #6:**
- **Create subplots like above for GOOG, AAPL and sp500**

# 7. 3D PLOTS

In [ ]:
# Toolkits are collections of application-specific functions that extend Matplotlib.
# mpl_toolkits.mplot3d provides tools for basic 3D plotting.
# https://matplotlib.org/mpl_toolkits/index.html

**MINI CHALLLENGE #7:**
- **Create a 3D plot with daily return values of sp500, GOOG and AAPL**

# 8. BOXPLOTS

In [ ]:
# numpy.random.normal() takes three arguments: mean, standard deviation of the normal distribution, and number of values desired.
# Great resource: https://stackoverflow.com/questions/17725927/boxplots-in-matplotlib-markers-and-outliers

**MINI CHALLENGE #8:**
- **Plot the box plot for  a new dataset data_5 that is normally distributed with an average of 800 and standard deviation = 100**

# EXCELLENT JOB!

# MINI CHALLENGES SOLUTIONS

**MINI CHALLLENGE #1 SOLUTIONS:**
- **Plot similar kind of graph for sp500**
- **Change the color line to red**

In [ ]:
stock_df.plot(x = 'Date', y = 'sp500', label = 'P500', color = 'r');
plt.ylabel('Price')
plt.title('My first plotting exercise!')
plt.legend(loc="upper left")
plt.grid()

**MINI CHALLLENGE #2 SOLUTIONS:**
- **Plot similar kind of graph for GOOG and sp500**

In [ ]:
X = daily_return_df['GOOG']
Y = daily_return_df['sp500']

plt.scatter(X, Y);

**MINI CHALLLENGE #3 SOLUTIONS:**
- **Plot the pie chart for the same stocks assuming equal allocation**
- **Explode Amazon and Google slices**

In [ ]:
values = [20, 20, 20, 20, 20]
colors = ['g', 'r', 'y', 'b', 'm']
explode = [0, 0.2, 0, 0, 0.2]
labels = ['AAPL', 'GOOG', 'T', 'TSLA  ', 'AMZN']
plt.pie(values, colors = colors, labels = labels, explode = explode)
plt.title('STOCK PORTFOLIO')
plt.show()

**MINI CHALLLENGE #4 SOLUTIONS:**
- **Plot the histogram for GOOG returns with 30 bins**

In [ ]:
num_bins = 30
plt.hist(daily_return_df['GOOG'], num_bins, facecolor = 'blue');
plt.grid()

**MINI CHALLLENGE #5 SOLUTIONS:**
- **Plot a similar graph containing prices of AAPL, sp500 and GOOG**
- **Add legend indicating S&P500, AAPL and GOOG**
- **Place the legend in the "upper center" location**

In [ ]:
stock_df.plot(x = 'Date', y = ['AAPL', 'sp500', 'GOOG'], linewidth = 3)
plt.ylabel('Price')
plt.title('Stock Prices')
plt.legend(loc="upper center")
plt.grid()

**MINI CHALLLENGE #6 SOLUTIONS:**
- **Create subplots like above for GOOG, AAPL and sp500**

In [ ]:
plt.figure(figsize = (7,7))
plt.subplot(3, 1, 1)
plt.plot(stock_df.index, stock_df['AAPL'], 'r--');
plt.grid()
plt.legend(['APPLE price'])

plt.subplot(3, 1, 2)
plt.plot(stock_df.index, stock_df['sp500'], 'b.');
plt.grid()
plt.legend(['S&P500 price'])


plt.subplot(3, 1, 3)
plt.plot(stock_df.index, stock_df['GOOG'], 'y--');
plt.grid()
plt.legend(['GOOGLE price'])

**MINI CHALLLENGE #7 SOLUTIONS:**
- **Create a 3D plot with daily return values of sp500, GOOG and AAPL**

In [ ]:
fig = plt.figure(figsize=(6, 6))
ax = fig.add_subplot(111, projection = '3d')

x = daily_return_df['AAPL'].tolist()
y = daily_return_df['sp500'].tolist()
z = daily_return_df['GOOG'].tolist()

ax.scatter(x, y, z, c = 'r', marker = 'o')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

**MINI CHALLENGE #8 SOLUTIONS:**
- **Plot the box plot for  a new dataset that is normally distributed with an average of 800 and standard deviation = 100**

In [ ]:
np.random.seed(20)

data_1 = np.random.normal(200, 20, 2000)
data_2 = np.random.normal(60, 30, 2000)
data_3 = np.random.normal(70, 20, 2000)
data_4 = np.random.normal(40, 5, 2000)
data_5 = np.random.normal(800, 100, 2000)


data_all = [data_1, data_2, data_3, data_4, data_5]

fig = plt.figure(figsize = (10, 7))
ax = fig.add_subplot(111)
bp = ax.boxplot(data_all)